* {
	margin: 0%;
	padding: 0%;
	border-color: slategrey;
	background-color: rgb(37, 37, 37);
	text-align: center;
	color: whitesmoke;
}

body {
	background-color: rgb(26, 26, 26);
}

.hidden {
	visibility: hidden !important;
	display: none !important;
}

#input {
	position: absolute;
	top: 47.5%;
	left: 25%;
	right: 25%;
	text-align: center;
	background-color: transparent;
}

#urlInput {
	width: 100%;
	border-width: 2px;
}

#confirmButton {
	width: 50%;
	margin: 5px;
	border-width: 2px;
}

#content {
	height: 100%;
	width: 100%;
	background-color: transparent;
}

video {
	height: 100%;
	width: 100%;
	background-color: transparent;
}

#error {
	position: absolute;
	top: 40%;
	left: calc(100% / 3);
	right: calc(100% / 3);
}

#error h1 {
	color: rgb(200, 30, 30);
	margin: 10px;
}

#error p {
	margin: 5px;
}
